Source: python-argh
Section: free
Priority: extra
Maintainer: Hannu Valtonen <hannu.valtonen@ohmu.fi>
Build-Depends: cdbs, debhelper (>= 7.0.50~), python-support, python (>= 2.6)
Standards-Version: 3.8.4

Package: python-argh
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-argparse (>= 1.1)
Description: Argh is a lightweight Python library for building complex CLI interfaces easily.
